#body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
    font-family: Oswald;
}
.header img{
	position: relative;
  max-width: 1270;
  max-height: 511;
}
.header h1 {
  display: block;
	position: absolute;
  top: 150px;
  left: 190px;
  letter-spacing: 20px;
  color: #ffffff;
	font-size: 80px;
}
.header sub {
  position: absolute;
  display: block;
  top: 325px; 
  left: 500px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #002447;
}
#h2 {
  margin: 0;
}
li {
  list-style-type: none;
  float: left;
}
.author img {
  width: 6%;
  height: auto;
}
.about-search {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 945px;
  text-transform: uppercase;
  font-size: 18px;
  color: #002447;
}
.about-search li {
  padding-left: 10px;
}
.about-search img {
  padding-left: 5px;
}
.logo {
  display: block;
  position: absolute;
  top: 0px;
  left: 100px;
  text-transform: uppercase;
  font-size: 12px;
  color: #002447;
}
.logo span {
  padding-left: 12px;
  font-size: 16px;
  letter-spacing: 1.5px;
  vertical-align: 65%;
}
.headline {
  width: 620px;
  margin-left: 160px;
  font-family: Oswald;
  font-size: 40px;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  font: oswald;
}
.footer {
  display: inline-block;
  font: oswald;
  background-color: #002447;
  height: 100px;
  width: 100%;
}
.footer ul {
  display: inline;
  position: absolute;
  color: white;
}
.footer li {
  border-right: 1px;
  border-color: white;
}
.posts {
  display: inline-block;
  float: left;
  padding: 0;
  white-space: nowrap;
}
.posts ul {
  display: flex;
  padding-left: 0;
  margin-bottom: -4px;
}
.posts li {
  
}
